{%extends "base.html"%}
{%block page_content%}
<p>That was {{moment(current_time).fromNow(refresh=True) }}</p>
<p><strong>These are the tags for music</strong></p>
<table>
	<tbody>
	{%if tags %}
		{%for tag in tags%}
			{% if flag%4==0 %}
			<tr>
			{%endif%}
			<td>
			<a href="http://localhost:5000/musicinfo/{{flag+1}}" class="tag">{{tag.decode('utf-8')}}</a>
			</td>
			{%set flag=flag+1%}
			{% if flag%4==0 %}
			</tr>
			{%endif%}
		{%endfor%}
	{%endif%}
	</tbody>
</table>
<div class="page_header">
	<h1>Hello</h1>
</div>
{%endblock%}
